html
  head
    title Crease Pattern Editor
    script(src='node_modules/svg.js/dist/svg.min.js')
    script(src='node_modules/fold/dist/fold.js')
    script(src='cpedit.js')
    style
      include:stylus cpedit.styl
  body
    div#menu
      .input
        input#loadCP(type='button', value='Load .cp', title='Load previously saved .cp file')
        input#fileCP(type='file', style='display: none')
      .input
        input#downloadCP(type='button', value='Save .cp', title='For reloading with this editor (weird .fold-like format)')
        a#cplink
      .input
        input#downloadFold(type='button', value='Export .fold', title='For all software supporting .fold, including Freeform Origami and Origami Simulator')
        a#foldlink
      .input
        input#downloadSVG(type='button', value='Export .svg', title='For Origami Simulator or paper figures')
        a#svglink
      hr
      .input
        input#drawLine(type='radio', name='mode', checked)
        label(for='drawLine') Draw Line (<code>d</code>)
      .input
        input#assignLine(type='radio', name='mode')
        label(for='assignLine') Assign Line (<code>a</code>)
      .input
        input#moveVertex(type='radio', name='mode')
        label(for='moveVertex') Move Vertex (<code>m</code>)
      hr
      .input
        input#boundary(type='radio', name='line', value='B', checked)
        label(for='boundary') Boundary (<code>b</code>)
      .input
        input#mountain(type='radio', name='line', value='M')
        label(for='mountain') Mountain (<code>m</code>)
      .input
        input#valley(type='radio', name='line', value='V')
        label(for='valley') Valley (<code>v</code>)
      .input
        input#unfolded(type='radio', name='line', value='U')
        label(for='unfolded') Unfolded (<code>u</code>)
      .input
        input#cut(type='radio', name='line', value='C')
        label(for='cut') Cut (<code>c</code>)
    div#interface
    div#tempSVG(style='display: none')
