html
  head
    title Crease Pattern Editor
    script(src='node_modules/svg.js/dist/svg.min.js')
    script(src='node_modules/fold/dist/fold.js')
    script(src='cpedit.js')
    style
      include:stylus cpedit.styl
  body
    div#menu
      .input
        input#downloadFold(type='button', value='Download .fold')
        a#foldlink
      hr
      .input
        input#boundary.lineType(type='radio', name='mode', value='B', checked)
        label(for='boundary') Boundary (<code>b</code>)
      .input
        input#mountain.lineType(type='radio', name='mode', value='M')
        label(for='mountain') Mountain (<code>m</code>)
      .input
        input#valley.lineType(type='radio', name='mode', value='V')
        label(for='valley') Valley (<code>v</code>)
      .input
        input#unfolded.lineType(type='radio', name='mode', value='U')
        label(for='unfolded') Unfolded (<code>u</code>)
      .input
        input#cut.lineType(type='radio', name='mode', value='C')
        label(for='cut') Cut (<code>c</code>)
    div#interface
