// Side-by-side layout of menu and GUI
body
  display: flex
  margin: 0px
  height: 100vh
#menu
  max-width: 33%
  flex: 0
  display: flex
  flex-direction: column
  justify-content: center
  background: black
  color: white
#interface
  flex: 1

.input
  font-size: large
  white-space: nowrap
  padding: 5px 10px 5px 5px
  display: flex
  align-items: center

  &:hover
    color: yellow
    background: gray

  label
    display: block
    flex: 1

// Drawing style

line
  stroke-linecap: round

.grid line
  stroke: #dddddd
  stroke-width: 0.05

.crease line
  stroke-width: 0.1

  &.drag
    stroke: purple
    stroke-width: 0.25
  &.boundary
    stroke: black
  &.mountain
    stroke: red
  &.valley
    stroke: blue
  &.unfolded
    stroke: gray
  &.cut
    stroke: green

circle.drag
  fill: purple
