html
  head
    title Crease Pattern Editor
    script(src='node_modules/svg.js/dist/svg.min.js')
    script(src='node_modules/fold/dist/fold.js')
    script(src='cpedit.js')
    style
      include:stylus cpedit.styl
  body
    div#menu
      .input
        input#boundary(type='radio', name='mode', checked)
        label(for='boundary') Boundary
      .input
        input#mountain(type='radio', name='mode')
        label(for='mountain') Mountain
      .input
        input#valley(type='radio', name='mode')
        label(for='valley') Valley
      .input
        input#unfolded(type='radio', name='mode')
        label(for='unfolded') Unfolded
      .input
        input#cut(type='radio', name='mode')
        label(for='cut') Cut
    div#interface
