// Side-by-side layout of menu and GUI
body
  display: flex
  margin: 0px
  height: 100vh

#menu
  max-width: 50%
  flex: 0
  display: flex
  flex-direction: column
  justify-content: center
  background: black
  color: white

  hr
    width: 100%

#interface
  flex: 1

.input, .multinput
  font-size: large
  input
    font-size: large
  white-space: nowrap
  padding: 5px 10px 5px 5px
  display: flex
  align-items: center

  &:hover
    color: yellow
    background: gray

  label, span
    display: block
    flex: 1

  input[type='button']
    width: 100%

.input, .input button, .input input, .input label, .multinput button
  cursor: pointer

.number
  text-align: center

// Drawing style

line
  stroke-linecap: round

.grid line
  stroke: #dddddd
  stroke-width: 0.05

.crease line, .drag line
  stroke-width: 0.1

  &.B // boundary
    stroke: black
  &.M // mountain
    stroke: red
  &.V // valley
    stroke: blue
  &.U // unfolded
    stroke: gray
  &.C // cut
    stroke: green

  &.drag
    stroke: purple
    stroke-width: 0.25

.drag circle
  fill: purple

.vertex circle.drag
  fill: purple
  stroke: purple
  stroke-width: 0.1
