html
  head
    title Crease Pattern Editor
    script(src='cpedit.js')
    script(src='node_modules/svg.js/dist/svg.min.js')
    style
      include:stylus cpedit.styl
  body
    div.menu
    div#interface
